/* Navbar styling*/
.navbar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #1a202c; 
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #4f46e5; 
}

.navbar a {
    color: #e2e8f0; 
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, transform 0.2s ease;
}

.navbar a:hover {
    color: #4f46e5; /* Accent color on hover */
    transform: scale(1.1); /* Subtle hover effect */
    text-shadow: 0 2px 6px rgba(79, 70, 229, 0.5);
}

.navbar a.active {
    color: #4f46e5; 
    border-bottom: 2px solid #4f46e5;
}

.username-display {
    padding-right: 20px;
    display: flex;
    justify-content: right;
    font-weight: bold;
    color: #000;
  }
  